/* contributions.module.css */

.contributionChart {
  display: grid;
  grid-template-columns: repeat(53, 1fr); /* 53 weeks in a year */
  gap: 4px; /* Increased from 2px */
  border: 1px solid black;
  padding: 5px;
  background-color: #252424; /* Background color similar to GitHub's calendar */
  z-index: 100;
  position: relative;
}


.contributionDay {
  width: 12px;
  height: 12px;
  rx: 2px; /* Rounded corners */
  ry: 2px;
}

.level0 {
  fill: #ebedf0; /* No contributions */
}

.level1 {
  fill: #c6e48b; /* Low contributions */
}

.level2 {
  fill: #7bc96f; /* Moderate contributions */
}

.level3 {
  fill: #239a3b; /* High contributions */
}

.level4 {
  fill: #196127; /* Very high contributions */
}

/* contributions.module.css */

/* ... (rest of your styles) ... */

/* Style the scrollbar */
div.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
}

div.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

div.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

div.overflow-x-auto::-webkit-scrollbar-track {
  background-color: #252424; /* This is the color of the scrollbar holder (track) */
  border-radius: 4px;
}

